USE [master]
GO
/****** Object:  Database [MSIS-2603-Project-Expensify]    Script Date: 5/31/2016 3:45:14 PM ******/
CREATE DATABASE [MSIS-2603-Project-Expensify]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MSIS-2603-Project-Expensify', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MSIS-2603-Project-Expensify.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MSIS-2603-Project-Expensify_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MSIS-2603-Project-Expensify_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MSIS-2603-Project-Expensify].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MSIS-2603-Project-Expensify]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE_ID] [int] NOT NULL,
	[EMPLOYEE_NAME] [varchar](70) NOT NULL,
	[EMAIL_ID] [varchar](50) NOT NULL,
	[CONTACT_NO] [varchar](50) NULL,
	[DESIGNATION] [varchar](20) NOT NULL,
	[DEPARTMENT] [varchar](20) NOT NULL,
	[WORK_LOCATION] [varchar](20) NOT NULL,
	[EXPENSE_LIMIT] [decimal](10, 2) NOT NULL,
	[APPROVAL_LIMIT] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[INVOICE_ID] [int] NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[SUPPLIER_ID] [int] NOT NULL,
	[INVOICE_AMOUNT] [decimal](10, 2) NOT NULL,
	[PAYMENT_DUE_DATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INVOICE_LINE_ITEMS]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INVOICE_LINE_ITEMS](
	[INVOICE_LINE_ITEM_ID] [int] NOT NULL,
	[INVOICE_ID] [int] NOT NULL,
	[ITEM_DESCRIPTION] [varchar](50) NOT NULL,
	[ITEM_QUANTITY_ORDERED] [int] NOT NULL,
	[ITEM_QUANTITY_DELIVERED] [int] NOT NULL,
	[ITEM_PRICE] [decimal](7, 2) NOT NULL,
	[TOTAL_ITEM_PRICE] [decimal](10, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_LINE_ITEM_ID] ASC,
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INVOICE_PAYMENT]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE_PAYMENT](
	[INVOICE_PAYMENT_ID] [int] NOT NULL,
	[INVOICE_PAYMENT_AMOUNT] [decimal](10, 2) NOT NULL,
	[INVOICE_PAYMENT_DATE] [datetime] NOT NULL,
	[INVOICE_ID] [int] NOT NULL,
	[PAID_BY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ITEMS]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ITEMS](
	[ITEM_CODE] [varchar](20) NOT NULL,
	[ITEM_DESCRIPTION] [varchar](50) NOT NULL,
	[ITEM_PRICE] [decimal](7, 2) NOT NULL,
	[SUPPLIER_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ITEM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MANAGES]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANAGES](
	[EMPLOYEE_ID] [int] NOT NULL,
	[MANAGER_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC,
	[MANAGER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PURCHASE_ORDER]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PURCHASE_ORDER](
	[ORDER_ID] [int] NOT NULL,
	[PURCHASE_REQUEST_ID] [int] NOT NULL,
	[ORDER_CREATED_DATE] [datetime] NOT NULL,
	[ORDER_FULFILLMENT_DATE] [datetime] NULL,
	[CREATED_BY] [int] NOT NULL,
	[ASSIGNED_TO] [int] NULL,
	[DEPARTMENT] [varchar](20) NOT NULL,
	[WORK_LOCATION] [varchar](20) NOT NULL,
	[ORDER_STATUS] [varchar](20) NOT NULL,
	[ORDER_COMPLETED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PURCHASE_REQUEST]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PURCHASE_REQUEST](
	[PURCHASE_REQUEST_ID] [int] NOT NULL,
	[REQUESTOR_ID] [int] NOT NULL,
	[APPROVED_BY] [int] NULL,
	[REQUEST_STATUS] [varchar](20) NOT NULL,
	[ASSIGNED_TO] [int] NULL,
	[REQUEST_SUBMITTED_DATE] [datetime] NOT NULL,
	[TOTAL_REQUEST_AMOUNT] [decimal](10, 2) NOT NULL,
	[APPROVER_REVIEW_DATE] [datetime] NULL,
	[DEPARTMENT] [varchar](20) NOT NULL,
	[WORK_LOCATION] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PURCHASE_REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PURCHASE_REQUEST_LINE_ITEMS]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PURCHASE_REQUEST_LINE_ITEMS](
	[PURCHASE_REQUEST_ID] [int] NOT NULL,
	[PURCHASE_REQUEST_LINE_ITEM_ID] [int] NOT NULL,
	[ITEM_CODE] [varchar](20) NOT NULL,
	[ITEM_QUANTITY_ORDERED] [int] NOT NULL,
	[TOTAL_PRICE] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PURCHASE_REQUEST_ID] ASC,
	[PURCHASE_REQUEST_LINE_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REIMBURSEMENT_PAYMENT]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REIMBURSEMENT_PAYMENT](
	[REIMBURSEMENT_PAYMENT_ID] [int] NOT NULL,
	[REIMBURSEMENT_PAYMENT_AMOUNT] [decimal](7, 2) NOT NULL,
	[REIMBURSEMENT_PAYMENT_DATE] [datetime] NOT NULL,
	[REIMBURSEMENT_REQUEST_ID] [int] NOT NULL,
	[PAID_BY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[REIMBURSEMENT_PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REIMBURSEMENT_REQUEST]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REIMBURSEMENT_REQUEST](
	[REIMBURSEMENT_REQUEST_ID] [int] NOT NULL,
	[REQUESTOR_ID] [int] NOT NULL,
	[ASSIGNED_TO] [int] NOT NULL,
	[SUBMITTED_DATE] [datetime] NOT NULL,
	[REIMBURSEMENT_REQUEST_STATUS] [varchar](20) NOT NULL,
	[DEPARTMENT] [varchar](20) NOT NULL,
	[WORK_LOCATION] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[REIMBURSEMENT_REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REIMBURSEMENT_REQUEST_LINE_ITEMS]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REIMBURSEMENT_REQUEST_LINE_ITEMS](
	[REIMBURSEMENT_REQUEST_ID] [int] NOT NULL,
	[REIMBURSEMENT_REQUEST_LINE_ITEM_ID] [int] NOT NULL,
	[ITEM_DESCRIPTION] [varchar](50) NOT NULL,
	[ITEM_AMOUNT] [decimal](7, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[REIMBURSEMENT_REQUEST_ID] ASC,
	[REIMBURSEMENT_REQUEST_LINE_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLE_ID] [int] NOT NULL,
	[ROLE_NAME] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[SUPPLIER_ID] [int] NOT NULL,
	[SUPPLIER_NAME] [varchar](70) NOT NULL,
	[SUPPLIER_EMAIL_ID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 5/31/2016 3:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE](
	[USER_ROLE_KEY_ID] [int] NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[ROLE_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ROLE_KEY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [EMAIL_ID], [CONTACT_NO], [DESIGNATION], [DEPARTMENT], [WORK_LOCATION], [EXPENSE_LIMIT], [APPROVAL_LIMIT]) VALUES (1000, N'John Hanks', N'jhanks@riotgames.com', N'408-872-2919', N'Associate', N'Marketing', N'Santa Clara', CAST(5000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [EMAIL_ID], [CONTACT_NO], [DESIGNATION], [DEPARTMENT], [WORK_LOCATION], [EXPENSE_LIMIT], [APPROVAL_LIMIT]) VALUES (1001, N'Meera Seth', N'meeras@riotgames.com', N'898-206-797', N'Manager', N'Technology', N'Milpitas', CAST(15000.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(10, 2)))
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [EMAIL_ID], [CONTACT_NO], [DESIGNATION], [DEPARTMENT], [WORK_LOCATION], [EXPENSE_LIMIT], [APPROVAL_LIMIT]) VALUES (1002, N'Rohit P', N'rohitp@riotgames.com', N'916-693-2811', N'Associate', N'Sales', N'New York', CAST(5000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[INVOICE] ([INVOICE_ID], [ORDER_ID], [SUPPLIER_ID], [INVOICE_AMOUNT], [PAYMENT_DUE_DATE]) VALUES (101001, 502, 207, CAST(100.00 AS Decimal(10, 2)), CAST(N'2015-08-02 00:00:00.000' AS DateTime))
INSERT [dbo].[INVOICE] ([INVOICE_ID], [ORDER_ID], [SUPPLIER_ID], [INVOICE_AMOUNT], [PAYMENT_DUE_DATE]) VALUES (101002, 503, 205, CAST(5600.00 AS Decimal(10, 2)), CAST(N'2016-05-06 00:00:00.000' AS DateTime))
INSERT [dbo].[INVOICE] ([INVOICE_ID], [ORDER_ID], [SUPPLIER_ID], [INVOICE_AMOUNT], [PAYMENT_DUE_DATE]) VALUES (101003, 504, 202, CAST(50.00 AS Decimal(10, 2)), CAST(N'2016-03-28 00:00:00.000' AS DateTime))
INSERT [dbo].[INVOICE_LINE_ITEMS] ([INVOICE_LINE_ITEM_ID], [INVOICE_ID], [ITEM_DESCRIPTION], [ITEM_QUANTITY_ORDERED], [ITEM_QUANTITY_DELIVERED], [ITEM_PRICE], [TOTAL_ITEM_PRICE]) VALUES (1, 101001, N'LENOVO MOUSE', 2, 2, CAST(50.00 AS Decimal(7, 2)), CAST(100.000 AS Decimal(10, 3)))
INSERT [dbo].[INVOICE_LINE_ITEMS] ([INVOICE_LINE_ITEM_ID], [INVOICE_ID], [ITEM_DESCRIPTION], [ITEM_QUANTITY_ORDERED], [ITEM_QUANTITY_DELIVERED], [ITEM_PRICE], [TOTAL_ITEM_PRICE]) VALUES (1, 101002, N'SAMSUNG WEBCAM', 5, 5, CAST(800.00 AS Decimal(7, 2)), CAST(4000.000 AS Decimal(10, 3)))
INSERT [dbo].[INVOICE_LINE_ITEMS] ([INVOICE_LINE_ITEM_ID], [INVOICE_ID], [ITEM_DESCRIPTION], [ITEM_QUANTITY_ORDERED], [ITEM_QUANTITY_DELIVERED], [ITEM_PRICE], [TOTAL_ITEM_PRICE]) VALUES (1, 101003, N'LOGITECH KEYBOARD', 1, 1, CAST(50.00 AS Decimal(7, 2)), CAST(50.000 AS Decimal(10, 3)))
INSERT [dbo].[INVOICE_PAYMENT] ([INVOICE_PAYMENT_ID], [INVOICE_PAYMENT_AMOUNT], [INVOICE_PAYMENT_DATE], [INVOICE_ID], [PAID_BY]) VALUES (400001, CAST(50.00 AS Decimal(10, 2)), CAST(N'2016-03-26 00:00:00.000' AS DateTime), 101003, 1006)
INSERT [dbo].[INVOICE_PAYMENT] ([INVOICE_PAYMENT_ID], [INVOICE_PAYMENT_AMOUNT], [INVOICE_PAYMENT_DATE], [INVOICE_ID], [PAID_BY]) VALUES (400002, CAST(5000.00 AS Decimal(10, 2)), CAST(N'2015-02-26 00:00:00.000' AS DateTime), 101007, 1008)
INSERT [dbo].[INVOICE_PAYMENT] ([INVOICE_PAYMENT_ID], [INVOICE_PAYMENT_AMOUNT], [INVOICE_PAYMENT_DATE], [INVOICE_ID], [PAID_BY]) VALUES (400003, CAST(4100.00 AS Decimal(10, 2)), CAST(N'2016-05-26 00:00:00.000' AS DateTime), 101008, 1016)
INSERT [dbo].[ITEMS] ([ITEM_CODE], [ITEM_DESCRIPTION], [ITEM_PRICE], [SUPPLIER_ID]) VALUES (N'301', N'LENOVO LAPTOP', CAST(800.00 AS Decimal(7, 2)), 207)
INSERT [dbo].[ITEMS] ([ITEM_CODE], [ITEM_DESCRIPTION], [ITEM_PRICE], [SUPPLIER_ID]) VALUES (N'302', N'APPLE LAPTOP', CAST(1000.00 AS Decimal(7, 2)), 201)
INSERT [dbo].[ITEMS] ([ITEM_CODE], [ITEM_DESCRIPTION], [ITEM_PRICE], [SUPPLIER_ID]) VALUES (N'303', N'LENOVO MOUSE', CAST(50.00 AS Decimal(7, 2)), 207)
INSERT [dbo].[MANAGES] ([EMPLOYEE_ID], [MANAGER_ID]) VALUES (1000, 1019)
INSERT [dbo].[MANAGES] ([EMPLOYEE_ID], [MANAGER_ID]) VALUES (1001, 1021)
INSERT [dbo].[MANAGES] ([EMPLOYEE_ID], [MANAGER_ID]) VALUES (1002, 1025)
INSERT [dbo].[PURCHASE_ORDER] ([ORDER_ID], [PURCHASE_REQUEST_ID], [ORDER_CREATED_DATE], [ORDER_FULFILLMENT_DATE], [CREATED_BY], [ASSIGNED_TO], [DEPARTMENT], [WORK_LOCATION], [ORDER_STATUS], [ORDER_COMPLETED_DATE]) VALUES (501, 402, CAST(N'2016-04-02 00:00:00.000' AS DateTime), NULL, 1006, 201, N'Technology', N'Milpitas', N'WIP', NULL)
INSERT [dbo].[PURCHASE_ORDER] ([ORDER_ID], [PURCHASE_REQUEST_ID], [ORDER_CREATED_DATE], [ORDER_FULFILLMENT_DATE], [CREATED_BY], [ASSIGNED_TO], [DEPARTMENT], [WORK_LOCATION], [ORDER_STATUS], [ORDER_COMPLETED_DATE]) VALUES (502, 403, CAST(N'2015-06-22 00:00:00.000' AS DateTime), CAST(N'2015-07-03 00:00:00.000' AS DateTime), 1016, 207, N'Sales', N'New York', N'FULFILLED', NULL)
INSERT [dbo].[PURCHASE_ORDER] ([ORDER_ID], [PURCHASE_REQUEST_ID], [ORDER_CREATED_DATE], [ORDER_FULFILLMENT_DATE], [CREATED_BY], [ASSIGNED_TO], [DEPARTMENT], [WORK_LOCATION], [ORDER_STATUS], [ORDER_COMPLETED_DATE]) VALUES (503, 404, CAST(N'2016-03-23 00:00:00.000' AS DateTime), CAST(N'2016-04-07 00:00:00.000' AS DateTime), 1016, 205, N'Technology', N'Santa Clara', N'FULFILLED', NULL)
INSERT [dbo].[PURCHASE_REQUEST] ([PURCHASE_REQUEST_ID], [REQUESTOR_ID], [APPROVED_BY], [REQUEST_STATUS], [ASSIGNED_TO], [REQUEST_SUBMITTED_DATE], [TOTAL_REQUEST_AMOUNT], [APPROVER_REVIEW_DATE], [DEPARTMENT], [WORK_LOCATION]) VALUES (401, 1000, 1019, N'Rejected', 1008, CAST(N'2015-12-14 00:00:00.000' AS DateTime), CAST(1000.00 AS Decimal(10, 2)), CAST(N'2015-12-16 00:00:00.000' AS DateTime), N'Marketing', N'Santa Clara')
INSERT [dbo].[PURCHASE_REQUEST] ([PURCHASE_REQUEST_ID], [REQUESTOR_ID], [APPROVED_BY], [REQUEST_STATUS], [ASSIGNED_TO], [REQUEST_SUBMITTED_DATE], [TOTAL_REQUEST_AMOUNT], [APPROVER_REVIEW_DATE], [DEPARTMENT], [WORK_LOCATION]) VALUES (402, 1001, 1021, N'Approved', 1006, CAST(N'2016-03-31 00:00:00.000' AS DateTime), CAST(10000.00 AS Decimal(10, 2)), CAST(N'2016-04-01 00:00:00.000' AS DateTime), N'Technology', N'Milpitas')
INSERT [dbo].[PURCHASE_REQUEST] ([PURCHASE_REQUEST_ID], [REQUESTOR_ID], [APPROVED_BY], [REQUEST_STATUS], [ASSIGNED_TO], [REQUEST_SUBMITTED_DATE], [TOTAL_REQUEST_AMOUNT], [APPROVER_REVIEW_DATE], [DEPARTMENT], [WORK_LOCATION]) VALUES (403, 1002, 1025, N'Approved', 1016, CAST(N'2015-06-22 00:00:00.000' AS DateTime), CAST(800.00 AS Decimal(10, 2)), CAST(N'2015-06-22 00:00:00.000' AS DateTime), N'Sales', N'New York')
INSERT [dbo].[PURCHASE_REQUEST_LINE_ITEMS] ([PURCHASE_REQUEST_ID], [PURCHASE_REQUEST_LINE_ITEM_ID], [ITEM_CODE], [ITEM_QUANTITY_ORDERED], [TOTAL_PRICE]) VALUES (402, 1, N'305', 3, CAST(300.00 AS Decimal(10, 2)))
INSERT [dbo].[PURCHASE_REQUEST_LINE_ITEMS] ([PURCHASE_REQUEST_ID], [PURCHASE_REQUEST_LINE_ITEM_ID], [ITEM_CODE], [ITEM_QUANTITY_ORDERED], [TOTAL_PRICE]) VALUES (402, 2, N'302', 8, CAST(8000.00 AS Decimal(10, 2)))
INSERT [dbo].[PURCHASE_REQUEST_LINE_ITEMS] ([PURCHASE_REQUEST_ID], [PURCHASE_REQUEST_LINE_ITEM_ID], [ITEM_CODE], [ITEM_QUANTITY_ORDERED], [TOTAL_PRICE]) VALUES (403, 1, N'303', 2, CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[REIMBURSEMENT_PAYMENT] ([REIMBURSEMENT_PAYMENT_ID], [REIMBURSEMENT_PAYMENT_AMOUNT], [REIMBURSEMENT_PAYMENT_DATE], [REIMBURSEMENT_REQUEST_ID], [PAID_BY]) VALUES (90102, CAST(500.00 AS Decimal(7, 2)), CAST(N'2015-12-20 00:00:00.000' AS DateTime), 8009, 1008)
INSERT [dbo].[REIMBURSEMENT_PAYMENT] ([REIMBURSEMENT_PAYMENT_ID], [REIMBURSEMENT_PAYMENT_AMOUNT], [REIMBURSEMENT_PAYMENT_DATE], [REIMBURSEMENT_REQUEST_ID], [PAID_BY]) VALUES (90103, CAST(100.00 AS Decimal(7, 2)), CAST(N'2015-12-30 00:00:00.000' AS DateTime), 8010, 1006)
INSERT [dbo].[REIMBURSEMENT_PAYMENT] ([REIMBURSEMENT_PAYMENT_ID], [REIMBURSEMENT_PAYMENT_AMOUNT], [REIMBURSEMENT_PAYMENT_DATE], [REIMBURSEMENT_REQUEST_ID], [PAID_BY]) VALUES (90104, CAST(300.00 AS Decimal(7, 2)), CAST(N'2016-04-13 00:00:00.000' AS DateTime), 8011, 1016)
INSERT [dbo].[REIMBURSEMENT_REQUEST] ([REIMBURSEMENT_REQUEST_ID], [REQUESTOR_ID], [ASSIGNED_TO], [SUBMITTED_DATE], [REIMBURSEMENT_REQUEST_STATUS], [DEPARTMENT], [WORK_LOCATION]) VALUES (8001, 1000, 1006, CAST(N'2015-06-16 00:00:00.000' AS DateTime), N'OPEN', N'Marketing', N'Santa Clara')
INSERT [dbo].[REIMBURSEMENT_REQUEST] ([REIMBURSEMENT_REQUEST_ID], [REQUESTOR_ID], [ASSIGNED_TO], [SUBMITTED_DATE], [REIMBURSEMENT_REQUEST_STATUS], [DEPARTMENT], [WORK_LOCATION]) VALUES (8002, 1000, 1008, CAST(N'2015-06-09 00:00:00.000' AS DateTime), N'OPEN', N'Marketing', N'Santa Clara')
INSERT [dbo].[REIMBURSEMENT_REQUEST] ([REIMBURSEMENT_REQUEST_ID], [REQUESTOR_ID], [ASSIGNED_TO], [SUBMITTED_DATE], [REIMBURSEMENT_REQUEST_STATUS], [DEPARTMENT], [WORK_LOCATION]) VALUES (8003, 1001, 1016, CAST(N'2015-12-29 00:00:00.000' AS DateTime), N'OPEN', N'Technology', N'Milpitas')
INSERT [dbo].[REIMBURSEMENT_REQUEST_LINE_ITEMS] ([REIMBURSEMENT_REQUEST_ID], [REIMBURSEMENT_REQUEST_LINE_ITEM_ID], [ITEM_DESCRIPTION], [ITEM_AMOUNT]) VALUES (8001, 1, N'TRAVEL', CAST(1000.00 AS Decimal(7, 2)))
INSERT [dbo].[REIMBURSEMENT_REQUEST_LINE_ITEMS] ([REIMBURSEMENT_REQUEST_ID], [REIMBURSEMENT_REQUEST_LINE_ITEM_ID], [ITEM_DESCRIPTION], [ITEM_AMOUNT]) VALUES (8001, 2, N'FOOD ', CAST(40.00 AS Decimal(7, 2)))
INSERT [dbo].[REIMBURSEMENT_REQUEST_LINE_ITEMS] ([REIMBURSEMENT_REQUEST_ID], [REIMBURSEMENT_REQUEST_LINE_ITEM_ID], [ITEM_DESCRIPTION], [ITEM_AMOUNT]) VALUES (8002, 1, N'TEAM OUTING', CAST(1000.00 AS Decimal(7, 2)))
INSERT [dbo].[ROLE] ([ROLE_ID], [ROLE_NAME]) VALUES (101, N'Requestor')
INSERT [dbo].[ROLE] ([ROLE_ID], [ROLE_NAME]) VALUES (102, N'Approver')
INSERT [dbo].[ROLE] ([ROLE_ID], [ROLE_NAME]) VALUES (103, N'P&P Associate')
INSERT [dbo].[SUPPLIER] ([SUPPLIER_ID], [SUPPLIER_NAME], [SUPPLIER_EMAIL_ID]) VALUES (201, N'Skipstorm', N'rbennett6@who.int')
INSERT [dbo].[SUPPLIER] ([SUPPLIER_ID], [SUPPLIER_NAME], [SUPPLIER_EMAIL_ID]) VALUES (202, N'Thoughtworks', N'rbaker7@google.co.jp')
INSERT [dbo].[SUPPLIER] ([SUPPLIER_ID], [SUPPLIER_NAME], [SUPPLIER_EMAIL_ID]) VALUES (203, N'Vinte', N'kflores8@behance.net')
INSERT [dbo].[USER_ROLE] ([USER_ROLE_KEY_ID], [EMPLOYEE_ID], [ROLE_ID]) VALUES (1, 1000, 101)
INSERT [dbo].[USER_ROLE] ([USER_ROLE_KEY_ID], [EMPLOYEE_ID], [ROLE_ID]) VALUES (2, 1001, 101)
INSERT [dbo].[USER_ROLE] ([USER_ROLE_KEY_ID], [EMPLOYEE_ID], [ROLE_ID]) VALUES (3, 1001, 102)
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[PURCHASE_ORDER] ([ORDER_ID])
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[PURCHASE_ORDER] ([ORDER_ID])
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[PURCHASE_ORDER] ([ORDER_ID])
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[PURCHASE_ORDER] ([ORDER_ID])
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[INVOICE_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[INVOICE_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[INVOICE_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[INVOICE_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[INVOICE_PAYMENT]  WITH CHECK ADD FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[INVOICE_PAYMENT]  WITH CHECK ADD FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[INVOICE_PAYMENT]  WITH CHECK ADD FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[INVOICE_PAYMENT]  WITH CHECK ADD FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[INVOICE_PAYMENT]  WITH CHECK ADD FOREIGN KEY([PAID_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[INVOICE_PAYMENT]  WITH CHECK ADD FOREIGN KEY([PAID_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[INVOICE_PAYMENT]  WITH CHECK ADD FOREIGN KEY([PAID_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[INVOICE_PAYMENT]  WITH CHECK ADD FOREIGN KEY([PAID_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[ITEMS]  WITH CHECK ADD FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[ITEMS]  WITH CHECK ADD FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[ITEMS]  WITH CHECK ADD FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[ITEMS]  WITH CHECK ADD FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[MANAGES]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[MANAGES]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[MANAGES]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[MANAGES]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[MANAGES]  WITH CHECK ADD FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[MANAGES]  WITH CHECK ADD FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[MANAGES]  WITH CHECK ADD FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[MANAGES]  WITH CHECK ADD FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD FOREIGN KEY([PURCHASE_REQUEST_ID])
REFERENCES [dbo].[PURCHASE_REQUEST] ([PURCHASE_REQUEST_ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD FOREIGN KEY([PURCHASE_REQUEST_ID])
REFERENCES [dbo].[PURCHASE_REQUEST] ([PURCHASE_REQUEST_ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD FOREIGN KEY([PURCHASE_REQUEST_ID])
REFERENCES [dbo].[PURCHASE_REQUEST] ([PURCHASE_REQUEST_ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD FOREIGN KEY([PURCHASE_REQUEST_ID])
REFERENCES [dbo].[PURCHASE_REQUEST] ([PURCHASE_REQUEST_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([REQUESTOR_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([REQUESTOR_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([REQUESTOR_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD FOREIGN KEY([REQUESTOR_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([ITEM_CODE])
REFERENCES [dbo].[ITEMS] ([ITEM_CODE])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([ITEM_CODE])
REFERENCES [dbo].[ITEMS] ([ITEM_CODE])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([ITEM_CODE])
REFERENCES [dbo].[ITEMS] ([ITEM_CODE])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([ITEM_CODE])
REFERENCES [dbo].[ITEMS] ([ITEM_CODE])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([PURCHASE_REQUEST_ID])
REFERENCES [dbo].[PURCHASE_REQUEST] ([PURCHASE_REQUEST_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([PURCHASE_REQUEST_ID])
REFERENCES [dbo].[PURCHASE_REQUEST] ([PURCHASE_REQUEST_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([PURCHASE_REQUEST_ID])
REFERENCES [dbo].[PURCHASE_REQUEST] ([PURCHASE_REQUEST_ID])
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([PURCHASE_REQUEST_ID])
REFERENCES [dbo].[PURCHASE_REQUEST] ([PURCHASE_REQUEST_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_PAYMENT]  WITH CHECK ADD FOREIGN KEY([PAID_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_PAYMENT]  WITH CHECK ADD FOREIGN KEY([PAID_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_PAYMENT]  WITH CHECK ADD FOREIGN KEY([PAID_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_PAYMENT]  WITH CHECK ADD FOREIGN KEY([PAID_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_PAYMENT]  WITH CHECK ADD FOREIGN KEY([REIMBURSEMENT_REQUEST_ID])
REFERENCES [dbo].[REIMBURSEMENT_REQUEST] ([REIMBURSEMENT_REQUEST_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_PAYMENT]  WITH CHECK ADD FOREIGN KEY([REIMBURSEMENT_REQUEST_ID])
REFERENCES [dbo].[REIMBURSEMENT_REQUEST] ([REIMBURSEMENT_REQUEST_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_PAYMENT]  WITH CHECK ADD FOREIGN KEY([REIMBURSEMENT_REQUEST_ID])
REFERENCES [dbo].[REIMBURSEMENT_REQUEST] ([REIMBURSEMENT_REQUEST_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_PAYMENT]  WITH CHECK ADD FOREIGN KEY([REIMBURSEMENT_REQUEST_ID])
REFERENCES [dbo].[REIMBURSEMENT_REQUEST] ([REIMBURSEMENT_REQUEST_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST]  WITH CHECK ADD FOREIGN KEY([ASSIGNED_TO])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST]  WITH CHECK ADD FOREIGN KEY([REQUESTOR_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST]  WITH CHECK ADD FOREIGN KEY([REQUESTOR_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST]  WITH CHECK ADD FOREIGN KEY([REQUESTOR_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST]  WITH CHECK ADD FOREIGN KEY([REQUESTOR_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([REIMBURSEMENT_REQUEST_ID])
REFERENCES [dbo].[REIMBURSEMENT_REQUEST] ([REIMBURSEMENT_REQUEST_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([REIMBURSEMENT_REQUEST_ID])
REFERENCES [dbo].[REIMBURSEMENT_REQUEST] ([REIMBURSEMENT_REQUEST_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([REIMBURSEMENT_REQUEST_ID])
REFERENCES [dbo].[REIMBURSEMENT_REQUEST] ([REIMBURSEMENT_REQUEST_ID])
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST_LINE_ITEMS]  WITH CHECK ADD FOREIGN KEY([REIMBURSEMENT_REQUEST_ID])
REFERENCES [dbo].[REIMBURSEMENT_REQUEST] ([REIMBURSEMENT_REQUEST_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [PURCHASE_ORDER_STATUS_CHECK] CHECK  (([ORDER_STATUS]='OPEN' OR [ORDER_STATUS]='WIP' OR [ORDER_STATUS]='FULFILLED' OR [ORDER_STATUS]='COMPLETED'))
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] CHECK CONSTRAINT [PURCHASE_ORDER_STATUS_CHECK]
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST]  WITH CHECK ADD  CONSTRAINT [REQUEST_STATUS_CHECK] CHECK  (([REQUEST_STATUS]='OPEN' OR [REQUEST_STATUS]='APPROVED' OR [REQUEST_STATUS]='REJECTED' OR [REQUEST_STATUS]='CLOSED'))
GO
ALTER TABLE [dbo].[PURCHASE_REQUEST] CHECK CONSTRAINT [REQUEST_STATUS_CHECK]
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST]  WITH CHECK ADD  CONSTRAINT [REIMBURSEMENT_REQUEST_STATUS_CHECK] CHECK  (([REIMBURSEMENT_REQUEST_STATUS]='OPEN' OR [REIMBURSEMENT_REQUEST_STATUS]='APPROVED' OR [REIMBURSEMENT_REQUEST_STATUS]='REJECTED' OR [REIMBURSEMENT_REQUEST_STATUS]='CLOSED'))
GO
ALTER TABLE [dbo].[REIMBURSEMENT_REQUEST] CHECK CONSTRAINT [REIMBURSEMENT_REQUEST_STATUS_CHECK]
GO
USE [master]
GO
